.content-search {
    /* padding-left: 3rem; */
    width: 100%;
}

.input-field {
    width: 100%;
    margin-top: 1.5rem;
}

.label-search {
    font-weight: 500;
    opacity: 0.9;
    display: block;
}

.rating-search {
    display: block;
    margin-top: .5rem;
}

.rating-search > span > label {
    font-size: 3rem;
}

.button-search {
    margin-top: 2rem;
    width: 100%;
    height: 56px;
}

.button-clear {
    margin-top: 1rem;
    float: inline-end;
}